/materialize/material-icons/
/system_old/
/vendor/
/application/config/config.php
/application/config/database.php
/application/logs/
/application/downloads/
/application/libraries/PayU_old
/node_modules/
/zip/